# Node dependencies
nodejs/node_modules/
reactjs/node_modules/


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build files
dist/
build/

# IDE files
.vscode/
.idea/
